.gifs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 20px;
}

.gifPreview {
    max-width: 100%;
}

.gif-link {
    transition: outline 0.4s;
    outline: 0px solid rgb(235, 30, 66);
}

@keyframes giflinkhover {
    from {
        transform: scale(100%);
        outline-width: 10px;
    }

    to {
        transform: scale(105%);
        outline-width: 3px;
    }
}

.gif-link:focus {
    transform: scale(105%);
    outline: 3px solid rgb(235, 30, 66);
    background-color: rgba(235, 30, 66, 0.2);
    animation-name: giflinkhover;
    animation-duration: 0.4s;
}