.gifs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 20px;
}

.gifPreview {
    max-width: 100%;
}

.gif-link {
    transition: outline 0.4s;
    outline: 0px solid rgb(235, 30, 66);
}

@keyframes giflinkhover {
    from {
        transform: scale(100%);
        outline-width: 10px;
    }

    to {
        transform: scale(105%);
        outline-width: 3px;
    }
}

.gif-link:focus {
    transform: scale(105%);
    outline: 3px solid rgb(235, 30, 66);
    background-color: rgba(235, 30, 66, 0.2);
    animation-name: giflinkhover;
    animation-duration: 0.4s;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    border: 1px solid var(--foreground-border);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}